.idea/
**/.idea/
.DS_Store
__pycache__/
**/__pycache__/
**/cache/
**/.cache/
cache/
.cache/
trial/cache/
*.bin
*.bin.gz
*.pickle
**/graded_readers_stats.xlsx
**/graded_readers_stats.csv
venv/
venv.old/
.venv.old/
env/
.env/
env.old/
.env.old/
**/.Rhistory
