pandas==1.5.2
nltk==3.8.1
stanza==1.7.0
numpy==1.24.1
anytree~=2.8.0
xlsxwriter~=3.0.2
lexicalrichness==0.4.0
pytest==7.2.0
funcy~=1.17
codetiming==1.4.0
scikit-learn==1.2.0
wordcloud~=1.8.2.2
torch==2.5.0
packaging~=24.2
transformers~=4.48.2
shap~=0.46.0
matplotlib~=3.10.0
gensim~=4.3.3
spacy~=3.8.4